
<app-header [pageTitle]="pageTitle"></app-header>

<ion-content>

  <ion-card class="qr">

    <ngx-qrcode

      [elementType]="elementType"
      [errorCorrectionLevel]="correctionLevel"
      [value]="value"
      alt="QRCodeGen"
      cssClass="bshadow">

    </ngx-qrcode>

      <ion-card-header>
        <ion-button (click)="generarqr()">
          <ion-icon name="qr-code"></ion-icon>
          <ion-label>Generar QR</ion-label>
        </ion-button> 
      </ion-card-header>

      <ion-card-content>
         <ion-input  readonly [(ngModel)] = "value"></ion-input>
      </ion-card-content>
  </ion-card>

</ion-content>
